<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984403060226-2mic36kktqh28ellrv55g5pd9u8k1r2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984403060226-2mic36kktqh28ellrv55g5pd9u8k1r2e</string>
	<key>API_KEY</key>
	<string>AIzaSyB6QnR-Olp8siLzqpX2i86cXGgq32ju7t4</string>
	<key>GCM_SENDER_ID</key>
	<string>984403060226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ravestreamradioapp</string>
	<key>PROJECT_ID</key>
	<string>ravestreammobileapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ravestreammobileapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984403060226:ios:e805b1edb2324f5f02291b</string>
</dict>
</plist>